
#agilysys {
    height: 15%;
    width: 15%;
    padding-right: 15px;
}

#seattleapplab {
    height: 7.5%;
    width: 7.5%;
    padding-right: 15px;
}

#idlresearch {
    height: 7.5%;
    width: 7.5%;
    padding-right: 15px;
}

#uw {
    height: 25%;
    width: 25%;
    padding-right: 15px;
}

#mathnasium {
    height: 20%;
    width: 20%;
}

h3 {
    -webkit-animation-duration: 10s;
}

#delayed {
    -webkit-animation-delay: 0.5s;
    -webkit-animation-duration: 2s;
}

.grow:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}