body {
  font-family: Nunito;
  max-width: 1200px;
  margin: 0 auto !important;
  float: none !important;
}

h2 {
  font-weight: normal;
}

p {
  font-weight: 400;
}

b {
  font-weight: 900;
}



@media only screen and (min-width: 851px) {
  #wrapper {
    position: relative;
    top: 15%;
    height: 50%;
  }
  .row {
    display: flex;
    width: 100%;
    padding-bottom: 25px;
  }

  .row::after {
    display: block;
      clear: both;
       content: "";
  }

  * {
    box-sizing: border-box;
  }

  #row-1--column-1 {
    position: relative;
    padding-top: 3%;
    width: 33%;
  }

  #row-1--column-2 {
    width: 33%;
    padding-top:1.5%;
  }

  #row-1--column-3 {
    width: 33%;
    padding-right:5%;
  }

  #row-2--column-1 {
    padding-left: 10%;
    padding-right:5%;
    width: 50%;
  }

  #row-2--column-2 {
    padding-left: 10%;
    padding-right: 10%;
    width: 50%;
  }
  
  #name {
    font-size: 48px;
  }
  
  #me {
    border-radius: 50%;
    height: 200px;
    width: 200px;
  }
  
  #social {
    height: 25px;
    width: 25px;
  }

  #airbnb:hover {
    color: #FF5A5F;
    text-decoration: underline;
  }
  
  #amazon:hover {
    color: #FF9900;
    text-decoration: underline;
  }
  
  #udub:hover {
    color: #4b2e83;
    text-decoration: underline;
  }

  #agilysys:hover {
    color: #4CAC44;
    text-decoration: underline;
  }

  #first:hover {
    color: #4b2e83;
  }
  
  #last:hover {
    color: #b7a57a;
  }
}

@media only screen and (max-width: 850px) {
  #wrapper {
    position: relative;
  }
  #name {
    font-size: 36px;
  }

  #me {
    border-radius: 50%;
    height: 150px;
    width: 150px;
  }

  #social {
    height: 25px;
    width: 25px;
  }
}

#airbnb {
  color: #FF5A5F;
}

#amazon {
  color: #FF9900;
}

#udub {
  color: #4b2e83;
}

#agilysys {
  color: #4CAC44;
}

#first:hover {
  color: #4b2e83;
}

#last:hover {
  color: #b7a57a;
}

#book:hover {
  color: lightskyblue;
  text-decoration: underline;
}

#playlist {
  color: #1DB954;
}

#playlist:hover {
  text-decoration: underline;
}

#youtube:hover {
  color: #FF0000;
  text-decoration: underline;
}

#issaquah:hover {
  color: lightseagreen;
  text-decoration: underline;
}

#email {
  color: #00A699;
}

#email:hover {
  text-decoration: underline;
}

.website {
  color: black;
  text-decoration: none;
}

#logo {
  color: black;
}

#logo:hover {
  color: #b7a57a;
}

#resume {
  color: darkslateblue;
}

#resume:hover {
  text-decoration: underline;
}