.App-header {
    text-align: center;

}

#firstName:hover {
    color: indigo;
}

#lastName:hover {
    color: gold;
}

#nav-buttons {
    text-align: center;
    background-color: lightslategrey;
}

body {
    color: lightslategrey;
    font-family: Futura;
}

.btn-primary {
    background-color: lightslategrey;
}

.btn-primary:hover {
    background-color: indigo;
}

input {
    padding-right: 100px;
}